In [2]:
!pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\wenyp\anaconda3\lib\site-packages (1.4.39)
Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl.metadata
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\wenyp\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   ------------------ --------------------- 20.5/44.8 kB 682.7 kB/s eta 0:00:01
   ---------------------------------------- 44.8/44.8 kB 734.6 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [7]:
import pandas as pd
import sqlalchemy
import pymysql
import mysql.connector

In [12]:
host ="localhost"
user="Paola_Pda"
password="Pda_2023"
port=3306

In [13]:
# Connect to MySQL server
db = mysql.connector.connect(
    host=host,
    user=user,
    password=password
)
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001A175322690>

In [14]:
sqlEngine = sqlalchemy.create_engine(f"mysql+pymysql://{user}:{password}@{host}")
conn = sqlEngine.connect()

In [15]:
conn.execute("CREATE DATABASE IF NOT EXISTS companies;")

In [16]:
conn.execute("USE companies;")

In [19]:
df = pd.read_csv("Pepsico.csv")

In [20]:
df.head()

   Year  Company  Revenue (in millions)  Profit (in millions)
0  1955  PepsiCo                   74.2                   6.2
1  1956  PepsiCo                   89.0                   9.5
2  1957  PepsiCo                   97.0                   8.9
3  1958  PepsiCo                  119.1                   9.6
4  1959  PepsiCo                  136.8                  11.5

In [21]:
df.tail()

    Year  Company  Revenue (in millions)  Profit (in millions)
46  2001  PepsiCo                20438.0                2183.0
47  2002  PepsiCo                26935.0                2662.0
48  2003  PepsiCo                25112.0                3313.0
49  2004  PepsiCo                26971.0                3568.0
50  2005  PepsiCo                29261.0                4212.0

In [22]:
df.to_sql("pepsico", conn, index=False)

51

In [23]:
df2 = pd.read_sql("SELECT * FROM pepsico;", conn)

In [24]:
df2.head()

   Year  Company  Revenue (in millions)  Profit (in millions)
0  1955  PepsiCo                   74.2                   6.2
1  1956  PepsiCo                   89.0                   9.5
2  1957  PepsiCo                   97.0                   8.9
3  1958  PepsiCo                  119.1                   9.6
4  1959  PepsiCo                  136.8                  11.5

In [25]:
conn.close()

## Read and save multiple files to a database

In [26]:
sqlEngine = sqlalchemy.create_engine(f"mysql+pymysql://{user}:{password}@{host}")
conn = sqlEngine.connect()

In [27]:
conn.execute("CREATE DATABASE multiple_companies;")

In [34]:
conn.execute("USE multiple_companies;")

In [35]:
import os

In [36]:
os.getcwd() # get current working directory

'C:\\Users\\wenyp\\Msc_Data2023\\Programming'

In [37]:
os.listdir("company_data")

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'company_data'

In [38]:
"Sam".lower()

'sam'

In [39]:
for company in os.listdir("company_data"):
    company_df = pd.read_csv(f"company_data/{company}")
    company_df.to_sql(company[:-4].lower(), conn, index=False)

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'company_data'

In [40]:
conn.close()